* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Roboto_Regular;
  src: url("assets/fonts/Roboto-Regular.ttf");
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: white;
}

.navbar_custom {
  background-color: #4f4d53;
  height: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gtd {
  color: white;
}

.h1_custom {
  font-size: 100px;
  color: #4f4d53;
  font-weight: 900;
  font-family: Roboto-Regular;
}

.h2_custom {
  font-size: 64px;
  color: #e8be02;
  font-family: Roboto_Regular;
  font-weight: 900;
  text-align: center;
}

.h3_custom {
  font-size: 20px;
  color: #e8be02;
  font-weight: 900;
  font-family: Roboto_Regular;
}

.h4_custom {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  font-family: Roboto_Regular;
}

.p_custom {
  font-size: 20px;
  color: #4f4d53;
  font-weight: 400;
  font-family: Roboto_Regular;
  text-align: justify;
  margin-bottom: 0;
}

input {
  color: #fff;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: black;
}

input[type="text"] {
  font-size: 14px;
}

input[type="text"]::placeholder {
  color: #b8b8b8;
  background-color: black;
  padding-left: 5px;
}

.search_input {
  display: flex;
  padding: 7px;
  position: relative;
  justify-content: center;
  text-align: center;
  background-color: black;
}

.search_bar {
  padding: 5px;
}

.heading {
  background: url(/media/img_hero.jpg);
  height: 300px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100% 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.avatars {
  position: relative;
  margin-bottom: 90px;
}
.avatars_wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  position: absolute;
  top: -75px;
  left: 0;
}
.avatars img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 -300px;
}

.container.description_wrapper {
  padding: 0 70px;
 }

.team_information {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.lisa_information,
.danielle_information {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 50px;
}
.lisa_information img,
.danielle_information img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-right: 20px;
}
.lisa_information h4,
.danielle_information h4 {
  color: #e8be02;
}

.yellow_band {
  margin-top: 60px;
  background-color: #e8be02;
  width: 100%;
  height: 12px;
}

footer {
  height: 320px;
  background: #4f4d53;
}

.footer_body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 40px 200px 0;
}

.footer_heading {
  margin-bottom: 20px;
}

.join_us {
  margin-top: 20px;
}
